@tailwind base;
@tailwind components;
@tailwind utilities;
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round";

@layer base {
  /* reset */
  * {
    @apply m-0 p-0 box-border;
  }

  body {
    font-family: "Montserrat", sans-serif;
  }

  img,
  video {
    block-size: auto;
    max-inline-size: 100%;
  }

  input {
    @apply py-2 px-4;
  }
}

@layer utilities {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "main";
  }

  @screen md {
    .grid-container {
      display: grid;
      grid-template-columns: 15.625rem 1fr 15.625rem;
      grid-template-areas: "left-aside main right-aside";
      gap: 1rem;
    }
  }

  .left-aside {
    grid-area: left-aside;
  }

  .main {
    grid-area: main;
  }

  .right-aside {
    grid-area: right-aside;
  }
}
